* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
}

header .logo {
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: black;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.banner .col-one {
    display: grid;
    grid-template-rows: 20% 35% 45%;
}

.banner .col-two {
    display: grid;
    grid-template-rows: 35% 65%;
}

.item-1 {
    grid-column: 1;
    grid-row: 1;
}

.item-2 {
    grid-column: 1;
    grid-row: 2;
}

.item-3 {
    grid-column: 1;
    grid-row: 3;
}

.item-4 {
    grid-column: 2;
    grid-row: 1;
}

.item-5 {
    grid-column: 2;
    grid-row: 2 / 4;
}

.banner img {
    width: 100%;
    height: 100%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
}

article .about {
    padding: 3rem 0;
    font-size: 2rem;
}

article img {
    height: 20rem;
    max-width: 1000px;
    margin-bottom: 3rem;
}

article .author-description {
    width: 60%;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

article .contact {
    margin-bottom: 1.5rem;
    color: rgb(213, 54, 54);
}

article form {
    width: 60%;
}

article .form-control label {
    display: block;
}

article .form-control input {
    width: 100%;
    padding: 1.2rem 0;
    outline: none;
    border: 1px solid #c9c2c2;
    margin-bottom: 1rem;
}

article .form-control button {
    background-color: rgb(47, 45, 45);
    color: white;
    width: 100%;
    padding: 1.2rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

@media(max-width:600px) {
    .banner {
        display: grid;
        grid-template-columns: 1fr;
    }
}